@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Chile<br />
    Santiago, Peñaflor<br />
    <abbr title="Phone">Teléfono:</abbr>
    +56 986441914
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:noiecity.legion@gmail.com">noiecity.legion@gmail.com</a><br />
</address>
